@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none; }

body {
  background: #4285F4; }

.wrapper {
  background: #fff;
  max-width: 350px;
  width: 100%;
  height: auto;
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px; }

.wrapper .title {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 26px;
  color: #4285F4; }

.wrapper .form .input_field, .wrapper .form .input_date, .wrapper .form .input_radio, .wrapper .form .input_file {
  position: relative;
  margin-bottom: 10px; }

.wrapper .form .input_field .input {
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee; }

.wrapper .form .input_date .input, .wrapper .form .input_file .input {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 5px; }

.wrapper .form .input_radio {
  text-align: center; }

.wrapper .form .input_radio .radio_box {
  margin-left: 20px;
  margin-right: 20px; }

.wrapper .form .submit_btn, .wrapper .form .register_btn {
  width: 70%;
  margin: 20px auto 0;
  padding: 12px;
  text-align: center;
  border-radius: 25px;
  color: #fff; }

.wrapper .form .submit_btn {
  background: #F4B400;
  border: 2px solid #F4B400; }

.wrapper .form .register_btn {
  background: grey; }

.wrapper .form .submit_btn:hover {
  border: 2px solid #C08E00; }

.wrapper .form .submit_btn:active {
  background: #C08E00; }

.wrapper .form .input_field i {
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 14px; }

.wrapper .form .input_select .select_text, .wrapper .form .input_date .date_text, .wrapper .form .input_file .photo_text {
  position: relative;
  font-family: "Satisfy", cursive;
  font-size: 17px; }

.wrapper .form .input_radio .radio_box .text {
  position: relative;
  font-family: "Satisfy", cursive;
  font-size: 17px;
  right: 8px; }

.alert {
  opacity: 0;
  padding: 10px;
  background-color: #DB4437;
  color: white;
  text-align: center;
  margin-bottom: 15px; }

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s; }

.closebtn:hover {
  color: black; }
