<!DOCTYPE html>
<html lang="eng">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
    
<body>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.opacity='0';">&times</span>
        <span class="alert_message">This is alert!</span>
    </div>

    <div class="wrapper">

        <div class="title">
            Register yourself
        </div>

        <form class="form" enctype="multipart/form-data" method="POST" action="https://pi.iem.pw.edu.pl/register">

            <div class="input_field">
                <input type="text" name="firstname" placeholder="First name" class="input">
                <i class="fas fa-id-badge"></i>
            </div>

            <div class="input_field">
                <input type="text" name="lastname" placeholder="Last name" class="input">
                <i class="far fa-id-badge"></i>
            </div>

            <div class="input_field">
                <input type="text" name="pesel" placeholder="Pesel" class="input">
                <i class="fas fa-signature"></i>
            </div>

            <div class="input_field">
                <input type="text" name="login" placeholder="Login" class="input">
                <i class="fas fa-user"></i>
            </div>

            <div class="input_field">
                <input type="password" name="password" placeholder="Password" class="input">
                <i class="fas fa-key"></i>
            </div>

            <div class="input_date">
                <span class="date_text">Your birth date</span>
                <input type="date" name="birthdate" class="input">
            </div>

            <div class="input_file">
                <span class="photo_text">Photo of you</span>
                <input type="file" name="photo" class="input">
            </div>

            <div class="input_radio">
                <span class="radio_box">
                    <span class="text">Male</span>
                    <input type="radio" name="sex" class="input" value="M">
                </span>
                
                <span class="radio_box">
                    <span class="text">Female</span>
                    <input type="radio" name="sex" class="input" value="F">
                </span>

            </div>

            <div class="submit_btn">
                Submit
            </div>

            <div class="register_btn">
                Register
            </div>

        </form>

    </div>

</body>

<footer>
    <% include ../partials/footer %>
</footer>

<script src="/script/main.js"></script>

</html>